<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
      Id="*"
      Name="Warehouse Hub"
      Language="1033"
      Version="$(var.Version)"
      Manufacturer="Abdallah Safieddine"
      UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate />

    <Feature Id="MainFeature" Title="Warehouse Hub" Level="1">
      <ComponentGroupRef Id="AppFilesGroup" />
      <?if $(var.JreSourceDir) != "" ?>
      <ComponentGroupRef Id="JreFilesGroup" />
      <?endif?>
      <ComponentGroupRef Id="ShortcutGroup" />
      <ComponentGroupRef Id="InstallPermsGroup" />
      <ComponentGroupRef Id="ExtrasGroup" />
      <ComponentGroupRef Id="ShortcutGroupDebug" />
      <ComponentGroupRef Id="UserDataGroup" />
      <ComponentGroupRef Id="EnvGroup" />
    </Feature>

  </Product>

</Wix>
